* {
    margin: 0;
    padding: 0;
}


.container {
    margin-top: 100px;
}

.img_container {
    display: flex;
    justify-content: space-around;
}

.img_1 {
    background-size: cover;
    height: 300px;
    width: 200px;
    text-align: center;
    padding-top: 300px;
    box-sizing: border-box;
}

.img_2 {
    background-size: cover;
    height: 300px;
    width: 200px;
    text-align: center;
    padding-top: 300px;
    box-sizing: border-box;
}

.img_3 {
    background-size: cover;
    height: 300px;
    width: 200px;
    text-align: center;
    padding-top: 300px;
    box-sizing: border-box;
}

.button_plus {
    height: 30px;
    width: 98px;
    background-color: rgb(27, 130, 214);
    color: white;
    border: 1px solid rgb(40, 110, 168);
}

.button_plus:hover {
    background-color: rgb(47, 92, 103);
}

.button_minus {
    height: 30px;
    width: 98px;
    background-color: rgb(128, 184, 230);
    color: white;
    border: 1px solid rgb(74, 103, 126);
}

.button_minus:hover {
    background-color: rgb(22, 159, 186);
}

.block {
    height: 200px;
    width: 200px;
}